/vendor
/node_modules

# Laravel
/public/hot
/public/storage
/storage/*.key
.env
.env.testing
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log

# Laravel storage
/storage/app/*
!/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# IDE / OS
/.idea
/.vscode
/.phpstorm.meta.php
/.DS_Store
Thumbs.db

# NPM / Vite / Mix
/public/build
/public/mix-manifest.json
/.vite
