<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /live-chat-vamk/

    # Redirect everything under /live-chat-vamk to the Laravel public front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ public/index.php [L]
</IfModule>
